<div class="navigation">
  <ul>
    <li>
      <a
        routerLink="/home"
        class="navigation-link"
        routerLinkActive="navigation__link--active"
      >
        Home
      </a>
    </li>
    <li>
      <a
        routerLink="/about"
        class="navigation-link"
        routerLinkActive="navigation__link--active"
      >
        About
      </a>
    </li>
    <li>
      <a
        routerLink="/products"
        class="navigation-link"
        routerLinkActive="navigation__link--active"
      >
        Products
      </a>
    </li>
    <li>
      <a
        routerLink="/contact"
        class="navigation-link"
        routerLinkActive="navigation__link--active"
      >
        Contact
      </a>
    </li>
  </ul>
</div>
